/* Init */
* {box-sizing:border-box;font-family: Arial, Helvetica, sans-serif;}
:root {
    --primary:#007bff;
    --success: #25b540;
    --alert:#ffc100;
    --danger: #dc0000;
    --pure:#fff;
    --primal: #bebebe;
    --dark: #252525;
    --cream:#fff3dd;

    --primary-shadow:rgba(0,123,255,0.25);
    --success-shadow:rgba(40,167,69,0.25);
    --alert-shadow:rgba(255,193,7,0.25);
    --danger-shadow:rgba(220,53,69,0.25);
    --pure-shadow:rgba(234,234,234,0.25);
    --primal-shadow:rgba(187,187,187,0.25);
    --dark-shadow:rgba(51,51,51,0.25);
    --cream-shadow:rgba(255, 243, 221,0.25);

    --primary-secondary: #008cff;
    --primary-content:#00aeff;
    --primary-fade: #00cfff;

    --danger-secondary: #cb0000;
    --danger-content: #a90000;
    --danger-fade: #970000;

    --success-secondary: #25b540;
    --success-content:#47d760;
    --success-fade:#69f970;

    --alert-secondary:#ffe000;
    --alert-content:#ddca00;
    --alert-fade:#ccb100;

    --white: #f5f5f5;
    --white-secondary: #efefef;
    --white-content: #e5e5e5;
    --white-fade: #dfdfdf;

    --pure-secondary:#ddd;
    --pure-content:#ccc;
    --pure-fade:#aaa;    

    --primal-secondary: #a5a5a5;
    --primal-content: #979797;
    --primal-fade:#7e7e7e;
    
    --dark-secondary: #333;
    --dark-content: #555;
    --dark-fade: #777;   

    --code:#f5f5f5;
    --code-content: #ff3860;
    --code-shadow: rgba(245,245,245,0.25);

    --mark:#212529;
    --mark-content:#f5f5f5;
}

/* Element */
body {margin:0;background:#fff;width:100%;}
h1,h2,h3,h4,h5,h6,p,span,div {cursor:default;color:#222;}
h1,h2,h3,h4,h5,h6,p,a {margin:12px 0;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
a {color:#007bff;text-decoration:underline;}

h1 {font-size:28px;}
h2 {font-size:26px;}
h3 {font-size:24px;}
h4 {font-size:22px;}
h5 {font-size:20px;}
h6 {font-size:18px;}
p {font-size:16px}
span {font-size:inherit;}

br {line-height: 8px;}
code {font-size:inherit;}
sup,sub {font-size:0.5em;}


/* Micro content */
.mark, .code, .block, code {
    display:inline;
    padding:3px 5px;
    line-height:1.8rem;
    margin:0 2px;
    border-radius:4px; }

.mark {
    background-color: var(--mark);
    color: var(--mark-content); }

.code, code {
    background-color: var(--code);
    color: var(--code-content); }

.block {
    background-color: var(--code);
    color: var(--dark-fade);}

.link {
    border-radius:3px;
    padding:0 2px;
    text-decoration: none;
    border:1px solid transparent;
    transition:border .2s, outline .2s;
    background-color: transparent;
    color: var(--primary);}

.link:hover { border-color: var(--primary); }
.link:active {outline:2px solid var(--primary-shadow);}

.mark.fill, .code.fill, .block.fill, .content.fill, .link.fill {
    display:block;
    width:100%;
    margin:7px 0;
    padding:5px 8px;}

/* Tag */
.tag-container {
    display:block;
    width:100%;
    margin:15px 0;
    text-align: left; }
.tag {
    display:inline-block;
    width:auto;
    padding:3px 8px;
    margin:4px 2px;
    background-color:transparent;
    border:1.5px solid var(--pure-secondary);
    color:var(--primal);
    border-radius:5px;
    font-size:16px; 
    transition: box-shadow .25s, border-color .25s, color .25s;}
.tag:hover { box-shadow:0 0 0 0.15em var(--primal-shadow); }

.tag-primal.tag-fill { color:var(--dark-fade);background-color:var(--code);border-color:var(--code); }

.tag-primary {color:var(--primary);border-color:var(--primary);}
.tag-primary:hover {
    box-shadow:0 0 0 0.15em var(--primary-shadow);
    color:var(--primary); } 
.tag-primary.tag-fill { color:var(--pure);background-color:var(--primary);}

.tag-success { 
    border-color:var(--success);
    color:var(--success); }
.tag-success:hover {box-shadow:0 0 0 0.15em var(--success-shadow);}
.tag-success.tag-fill { color:var(--pure);background-color:var(--success);}

.tag.tag-alert {
    border-color:var(--alert);
    color:var(--alert); }
.tag-alert:hover {box-shadow:0 0 0 0.15em var(--alert-shadow);}
.tag-alert.tag-fill { color:var(--pure);background-color:var(--alert);}

.tag.tag-danger {
    border-color:var(--danger);
    color:var(--danger); }
.tag-danger:hover {box-shadow:0 0 0 0.15em var(--danger-shadow);}
.tag-danger.tag-fill { color:var(--pure);background-color:var(--danger);}

.tag-dark {
    border-color:var(--dark);
    color:var(--dark); }
.tag-dark:hover {box-shadow:0 0 0 0.15em var(--dark-shadow);}
.tag-dark.tag-fill {color:var(--pure);background-color:var(--dark);}

.tag-pure {
    border-color:var(--pure);
    color:var(--primal-secondary); }
.tag-pure:hover {box-shadow:0 0 0 0.15em var(--pure-shadow);}
.tag-pure.tag-fill {color:var(--primal-secondary);background-color:var(--pure);}

.tag.badge {border-radius:9001px;}
.tag.line-tag::after {display:block;content:"";}

/* Grid */
.grid-container {
    width:100%;
    display:block;
    padding:15px 20px; }

.grid-container::after {
    display:block;
    content:"";
    clear:both; }

.grid-1-12,.grid-2-12,.grid-3-12,.grid-4-12,.grid-5-12,.grid-6-12,
.grid-7-12,.grid-8-12,.grid-9-12,.grid-10-12,.grid-11-12,.grid-12-12 {
    float:left;
    padding:7px 12px; }

.grid-1-12 {width:8.33%;}
.grid-2-12 {width:16.66%;}
.grid-3-12 {width:25%;}
.grid-4-12 {width:33.33%;}
.grid-5-12 {width:41.66%;}
.grid-6-12 {width:50%;}
.grid-7-12 {width:58.33%;}
.grid-8-12 {width:66.66%;}
.grid-9-12 {width:75%;}
.grid-10-12 {width:83.33%;}
.grid-11-12 {width:91.66%;}
.grid-12-12 {width:100%;}

/* Media */
.media {
    display:block;
    width:100%;
    padding:15px 25px;
    margin:15px 0;
    background-color:var(--pure);
    border:1px solid var(--primal);
    border-radius:5px; }
    
.media.media-hover {transition:box-shadow .25s;}

.media.media-primary { border-color: var(--primary); }
.media.media-primary.media-hover:hover {box-shadow:0 0 0 4px var(--primary-shadow);}
.media.media-primary.media-fill {background-color:var(--primary);color:var(--pure);}
.media.media-primary.media-glow {box-shadow:0 0 0 4px var(--primary-shadow);}

.media.media-primal {border-color: var(--primal);}
.media.media-primal.media-hover:hover {box-shadow:0 0 0 4px var(--primal-shadow);}
.media.media-primal.media-fill {background-color:var(--code);color:var(--dark);}
.media.media-primal.media-glow {box-shadow:0 0 0 4px var(--primal-shadow);}

.media.media-success {border-color: var(--success);}
.media.media-success.media-hover:hover {box-shadow:0 0 0 4px var(--success-shadow);}
.media.media-success.media-fill {background-color:var(--success);color:var(--pure);}
.media.media-success.media-glow {box-shadow:0 0 0 4px var(--success-shadow);}

.media.media-alert {border-color: var(--alert);}
.media.media-alert.media-hover:hover {box-shadow:0 0 0 4px var(--alert-shadow);}
.media.media-alert.media-fill {background-color:var(--alert);color:var(--pure);}
.media.media-alert.media-glow {box-shadow:0 0 0 4px var(--alert-shadow);}

.media.media-danger {border-color: var(--danger);}
.media.media-danger.media-hover:hover {box-shadow:0 0 0 4px var(--danger-shadow);}
.media.media-danger.media-fill {background-color:var(--danger);color:var(--pure);}
.media.media-danger.media-glow {box-shadow:0 0 0 4px var(--danger-shadow);}

.media.media-pure {border-color: var(--pure);}
.media.media-pure.media-hover:hover {box-shadow:0 0 0 4px var(--pure-shadow);}
.media.media-pure.media-fill {background-color:var(--pure);color:var(--pure);}
.media.media-pure.media-glow {box-shadow:0 0 0 4px var(--pure-shadow);}

.media.media-dark {border-color: var(--dark);}
.media.media-dark.media-hover:hover {box-shadow:0 0 0 4px var(--dark-shadow);}
.media.media-dark.media-fill {background-color:var(--dark);color:var(--pure);}
.media.media-dark.media-glow {box-shadow:0 0 0 4px var(--dark-shadow);}

.media.media-impact {border-width: 2px;}
.media.media-transparent {border-color:transparent; background-color:transparent;}

/* Container */
.container, .container-small, .container-large, .container-stack
.content-container, .content-container-small, .content-container-large {
    display:block;
    width:100%; }

.container-large { padding:25px 5%; }
.container { padding:25px 7.5%; }
.container-small { padding:25px 10%; }
.content-container-large { padding:0 15%; }
.content-container { padding:0 20%; }
.content-container-small { padding:0 25%; }

/* Button */
.rue-btn {
    display:inline-block;
    margin:10px 0;
    display:inline-block;
    background-color:var(--code);
    font-size:18px;
    padding:7px 18px;
    text-decoration:none;
    border-radius:2px;
    margin:5px 2px;
    border:1px solid var(--pure);
    transition:box-shadow 0.325s;
    color:#222; }
.rue-btn.btn-round {
    border-radius:30px;
    padding:8px 35px;
    transition:box-shadow 0.325s;
    text-decoration:none; }

.rue-btn:hover { box-shadow:0 0 0 0.2rem var(--primal-shadow); }
.rue-btn.btn-blank {background-color:transparent;border-color:var(--pure-secondary);}

.rue-btn.btn-primary {background-color:var(--primary);color:var(--pure);border:1px solid var(--primary); }
.rue-btn.btn-primary:hover { box-shadow:0 0 0 0.2rem var(--primary-shadow); }
.rue-btn.btn-primary.btn-blank { background-color:transparent;color:var(--primary); }

.rue-btn.btn-success {background-color:var(--success);color:var(--pure);border: 1px solid var(--success); }
.rue-btn.btn-success:hover { box-shadow:0 0 0 0.2rem var(--success-shadow); }
.rue-btn.btn-success.btn-blank { background-color:transparent; color:var(--success);}

.rue-btn.btn-alert {background-color:var(--alert);color:var(--pure);border:1px solid var(--alert); }
.rue-btn.btn-alert:hover { box-shadow:0 0 0 0.2rem var(--alert-shadow); }
.rue-btn.btn-alert.btn-blank { background-color:transparent; color:var(--alert);}

.rue-btn.btn-danger {background-color:var(--danger);color:var(--pure);border:1px solid var(--danger); }
.rue-btn.btn-danger:hover { box-shadow:0 0 0 0.2rem var(--danger-shadow); }
.rue-btn.btn-danger.btn-blank { background-color:transparent; color:var(--danger);}

.rue-btn.btn-dark {background-color:var(--dark);color:var(--pure);border: 1px solid var(--dark); }
.rue-btn.btn-dark:hover { box-shadow:0 0 0 0.2rem var(--dark-shadow); }
.rue-btn.btn-dark.btn-blank { background-color:transparent; color:var(--dark); }

.rue-btn.btn-pure {background-color:var(--pure);color:var(--dark);border:1px solid var(--pure-content) }
.rue-btn.btn-pure:hover { box-shadow:0 0 0 0.2rem var(--pure-shadow); }
.rue-btn.btn-pure.btn-blank { background-color:transparent;color:var(--pure-content);}

.rue-btn-container { 
    display:inline-block;
    margin:5px 15px; }
.rue-btn-container > .rue-btn {
    float:left;
    margin-left:0;
    border-radius:0;
    margin-right:0;}
.rue-btn-container > .rue-btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
.rue-btn-container > .rue-btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.rue-btn.btn-fluid {display:block;width:100%;text-align: center;}

.btn-medium {
    display:inline-block;
    padding:9px 26px;
    font-size:21px;
    font-weight: bolder; }

.btn-large {
    display:inline-block;
    padding:12px 32px;
    font-size:24px;
    font-weight: bolder; }

/* Card */
.card-container {
    display:flex;
    justify-content: space-between;
    width:100%; }
.card-container::after {
    display:block;
    content:"";
    clear:both; }

.card {
    display:table-cell;
    width:30%;
    border:1px solid var(--pure-secondary); }
.card::before, .card::after {
    display:table-cell;
    width:1.66%;
    background-color:transparent; }
.card-header {
    display:block;
    padding:15px 25px;
    font-size:26px; }
.card-image {
    object-fit:scale-down;
    display:block;
    width:100%; }
.card-content {
    display:block;
    padding:15px 25px;
    font-size:19px; }
.card-footer {
    display:block;
    padding:15px 20px;
    padding-top:10px;
    text-indent:15px;
    color:var(--primal-secondary);
    font-size:16px; }
.footer-prefix::before {content:"\2014 \00A0";}

.card-container.card-1 > .card {width:96.33%; }
.card-container.card-2 > .card {width:46.33%; }
.card-container.card-3 > .card {width:30%; }
.card-container.card-4 > .card {width:21.66%; }
.card-container.card-5 > .card {width:14.33%; }

/* Image */
.image {
    display:block;
    width:100%; }
.image.image-round { border-radius:1000px; }

/* Content */
.content-left {text-align:left;}
.content-center { text-align: center; }
.content-right {text-align:right;}

.content-small, .content-medium, .content-large {font-weight: normal;}
.content-small {font-size:16px;}
.content-medium {font-size:19px;}
.content-large {font-size:21px;}

.header-small {font-size:24px;}
.header-medium {font-size:28px;}
.header-large {font-size:32px;}

.title-small, .title-medium, .title-large {display:block;}
.title-small {font-size:40px;}
.title-medium {font-size:48px;}
.title-large {font-size:60px;}

.content-margin-none {margin:0;}
.content-margin-small {margin:7px 0;}
.content-margin-medium {margin:15px 0;}
.content-margin-large {margin:25px 0;}

.content-light {font-weight: lighter;}
.content-medium {font-weight: normal;}
.content-bold {font-weight: bolder;}

.content-underline {text-decoration: underline;}
.content-italic {text-decoration: italic;}
.content-indent {text-indent:20px;}

.content-block {display:block;}

.pure-primary {color:var(--pure);}
.pure-secondary {color:var(--pure-secondary);}
.pure-content {color:var(--pure-content);}
.pure-fade {color:var(--pure-fade);}

.primal-primary {color:var(--primal);}
.primal-secondary {color:var(--primal-secondary);}
.primal-content {color:var(--primal-content);}
.primal-fade {color:var(--primal-content);}

.dark-primary {color:var(--dark);}
.dark-secondary {color:var(--dark-secondary);}
.dark-content {color:var(--dark-content);}
.dark-fade {color:var(--dark-fade);}

.primary-primary {color:var(--primary);}
.primary-secondary {color:var(--primary-secondary);}
.primary-content {color:var(--primary-content);}
.primary-fade {color:var(--primary-fade);}

.success-primary {color:var(--success);}
.success-secondary {color:var(--success-secondary);}
.success-content {color:var(--success-content);}
.success-fade {color:var(--success-fade);}

.alert-primary {color:var(--alert);}
.alert-secondary {color:var(--alert-secondary);}
.alert-content {color:var(--alert-content);}
.alert-fade {color:var(--alert-fade);}

.danger-primary {color:var(--danger);}
.danger-secondary {color:var(--danger-secondary);}
.danger-content {color:var(--danger-content);}
.danger-fade {color:var(--danger-fade);}

.content-divider {
    border-bottom:1px solid var(--primal);
    padding-bottom:5px; }
.content-divider.divider-primary {border-color:var(--primary);}
.content-divider.divider-success {border-color:var(--success);}
.content-divider.divider-alert {border-color:var(--alert);}
.content-divider.divider-danger {border-color:var(--danger);}
.content-divider.divider-dark {border-color:var(--dark);}
.content-divider.divider-pure {border-color:var(--pure);}

.content-divider.divider-heavy {border-width: 2px;}/* Container */
.container, .container-small, .container-large, .container-stack
.content-container, .content-container-small, .content-container-large {
    display:block;
    width:100%; }

.container-large { padding:25px 5%; }
.container { padding:25px 7.5%; }
.container-small { padding:25px 10%; }
.content-container-large { padding:0 15%; }
.content-container { padding:0 20%; }
.content-container-small { padding:0 25%; }

@media screen and (max-width:576px) {
    .media {padding:8px 12px;}
    
    .container-large { padding:25px 2.5%; }
    .container { padding:25px 3.75%; }
    .container-small { padding:25px 5%; }
    .content-container-large { padding:0 7.5%; }
    .content-container { padding:0 10%; }
    .content-container-small { padding:0 12.5%; }

    .grid-1-12,.grid-2-12,.grid-3-12,.grid-4-12,.grid-5-12,.grid-6-12,
    .grid-7-12,.grid-8-12,.grid-9-12,.grid-10-12,.grid-11-12,.grid-12-12 {
        padding:3px 5px;
    }
    
    .grid-1-12,.grid-2-12,.grid-3-12, .grid-4-12 {width:25%;}
    .grid-5-12,.grid-6-12,.grid-7-12, .grid-8-12 {width:50%;}
    .grid-9-12,.grid-10-12,.grid-11-12, .grid-12-12 {width:100%;}

    .grid-small-1-12 {width:8.33%;}
    .grid-small-2-12 {width:16.66%;}
    .grid-small-3-12 {width:25%;}
    .grid-small-4-12 {width:33.33%;}
    .grid-small-5-12 {width:41.66%;}
    .grid-small-6-12 {width:50%;}
    .grid-small-7-12 {width:58.33%;}
    .grid-small-8-12 {width:66.66%;}
    .grid-small-9-12 {width:75%;}
    .grid-small-10-12 {width:83.33%;}
    .grid-small-11-12 {width:91.66%;}
    .grid-small-12-12 {width:100%;}
}

@media screen and (min-width:577px) and (max-width:768px){
    .container-large { padding:25px 3.75%; }
    .container { padding:25px 5%; }
    .container-small { padding:25px 6.25%; }
    .content-container-large { padding:0 8.75%; }
    .content-container { padding:0 12.5%; }
    .content-container-small { padding:0 17.5%; }

    .grid-1-12,.grid-2-12,.grid-3-12,.grid-4-12,.grid-5-12,.grid-6-12,
    .grid-7-12,.grid-8-12,.grid-9-12,.grid-10-12,.grid-11-12,.grid-12-12 {
        padding:4px 6px;
    }

    .grid-medium-1-12 {width:8.33%;}
    .grid-medium-2-12 {width:16.66%;}
    .grid-medium-3-12 {width:25%;}
    .grid-medium-4-12 {width:33.33%;}
    .grid-medium-5-12 {width:41.66%;}
    .grid-medium-6-12 {width:50%;}
    .grid-medium-7-12 {width:58.33%;}
    .grid-medium-8-12 {width:66.66%;}
    .grid-medium-9-12 {width:75%;}
    .grid-medium-10-12 {width:83.33%;}
    .grid-medium-11-12 {width:91.66%;}
    .grid-medium-12-12 {width:100%;}
}

@media screen and (min-width:769px) and (max-width:960px){
    .grid-large-1-12 {width:8.33%;}
    .grid-large-2-12 {width:16.66%;}
    .grid-large-3-12 {width:25%;}
    .grid-large-4-12 {width:33.33%;}
    .grid-large-5-12 {width:41.66%;}
    .grid-large-6-12 {width:50%;}
    .grid-large-7-12 {width:58.33%;}
    .grid-large-8-12 {width:66.66%;}
    .grid-large-9-12 {width:75%;}
    .grid-large-10-12 {width:83.33%;}
    .grid-large-11-12 {width:91.66%;}
    .grid-large-12-12 {width:100%;}
}

@media screen and (min-width:961px) and (max-width:1120px){
}